.App {
  text-align: center;
}



.navbar-nav :active{
  background-color: #61dafb;
}
ul li{
  margin-right:30px;
}

.grey-text .fa, .fas {
  padding-left: 10%;
}
.grey-text .fa{
  padding-left: 38%;
}

.totalPage{
   display: flex;
   justify-content: center;
   min-height: 70vh;
   align-items: center;

   font-size: 50px;
   font-style: inherit;
   color: maroon;

}
input {
  overflow: visible;
  text-align: left;
}
.formAdd{
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
